li
{
    color: rgb(250, 249, 249);
    font-size: 30px;
    letter-spacing:5px;
}

body{
    /* background-image: url('../img/3.webp');
    background-repeat: no-repeat;
    background-size: cover; */

                                                     /* OR */

    /* background: #f5f5f0 url('../img/3.webp') no-repeat; */



    background: gray;
}

.nav{
    background: orange;

}


.item{
     background:rgb(0, 0, 0);
    
      margin: 5px;
      display: inline-table;
}
.items{
    background:rgb(0, 0, 0);
    margin: -8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 450px;
}


.class{
    /* border-style: solid;
    border-top-style: dotted;
    border-width: 2px; 
    border-color: rgb(14, 15, 15);  */

                                                   /* OR */

    border: 5px solid rgb(99, 92, 155);
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 249, 249);


    /* margin-top: 50px;
    margin-left: 90px;
    margin-right: 80px; */

                                                /* OR */

    /* margin: 50px 80px 50px 90px; */
         /* top right bottom left */

                                               /* OR */
    
    margin: 30px;   
    margin-left:350px; 
    padding: 20px;                                   
    width: 50%;
    height: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.2vw;
    flex-direction: row;

                                            /* EXPLORE THESE */
                                         /* letter-spacing: ; */
                                         /* word-spacing: ; */
                                            /* text-shadow: ; */
                                            /* direction: ; */
                                            /* flex: ; */


}

.class a{
    text-decoration: none;
    text-transform: uppercase;
   
    
}

.class a:hover{
    background-color: rgb(7, 6, 6);
    color: rgb(253, 252, 252);
    font-size: 1.5em;
}

#box{
    position: relative;
    top: 80px;
}